<label for="name">Title</label>
<input type="text" name="name" value="<%= book.title %>"/>
<label for="author">Author</label>
<select name="author">
    <% authors.forEach(author => {%>
        <% if(author.id === book.author) {%>
            <option selected label="<%= author.name%>" value="<%= author.id %>">
        <%} else {%>
            <option label="<%= author.name%>" value="<%= author.id %>">
        <%}%>
    <%})%>
</select>
 <label for="publishDate">Publish Date</label>
 <input type="date" name="publishDate" 
        value="<% book.publishDate == null? '' : book.publishDate.toISOString().split('T')[0]%>">